<hr class="border-[#ece0e1]">
<div class="bg-gradient-to-b from-white via-white to-[#ece0e1] h-auto py-20   w-full flex flex-col justify-center items-center text-center">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">

    <img data-aos="fade-down" data-aos-duration="1000" src="assets/img/email-heart.png" class="w-12 pb-5" alt="">
    <h1 data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200" style="font-family: 'Dancing Script', sans-serif;" class="text-5xl pb-5">¡Estas invitado!</h1>
    <p data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300" class="text-sm text-gray-700" style="font-family: 'Lora', sans-serif;
    font-weight: 100;
    font-style: normal;">
        Con gran alegría, te invitamos a compartir un día muy especial con nosotros.
    </p>

    <p data-aos="fade-down" data-aos-duration="1000" data-aos-delay="500" class="p-3 text-sm text-gray-700" style="font-family: 'Lora', sans-serif;
    font-weight: 100;
    font-style: normal;">
        Estamos contentos de realizar esta invitación a todos ustedes. En este día anhelamos compartir un momento ameno en el bautizo de nuestra hija. 
    </p>

</div>